### Importar as bibliotecas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Mapeamento do caminho e arquivo
path = 'O:\\Machine Learning 2\\'
file = 'IceCreamData.csv'

# Atribuir o arquivo a um dataframe
iceCream = pd.read_csv(path + file)

# Verificar o cabeçalho
iceCream.head()

   Temperature     Revenue
0    24.566884  534.799028
1    26.005191  625.190122
2    27.790554  660.632289
3    20.595335  487.706960
4    11.503498  316.240194

### Visualizar o cabeçalho e o final do dataframe

In [7]:
# Visualizar as primeiras linhas do DataFrame
iceCream.head(2)

   Temperature     Revenue
0    24.566884  534.799028
1    26.005191  625.190122

In [6]:
# Visualizar as últimas linhas do DataFrame
iceCream.tail(2)

     Temperature     Revenue
498    22.362402  566.217304
499    28.957736  655.660388

### Descrever os dados numéricos do dataframe

In [8]:
iceCream.describe()

       Temperature      Revenue
count   500.000000   500.000000
mean     22.232225   521.570777
std       8.096388   175.404751
min       0.000000    10.000000
25%      17.122258   405.558681
50%      22.392791   529.368565
75%      27.740674   642.257922
max      45.000000  1000.000000

#### Obter informações do Dataframe

In [9]:
iceCream.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temperature  500 non-null    float64
 1   Revenue      500 non-null    float64
dtypes: float64(2)
memory usage: 7.9 KB

### Passo 03 - Visualizar os dados do Dataset