##### Exercício 02 - lista 05
##### Aula 06

In [6]:
!pip list
!pip install pandas

Package           Version
----------------- ------------
asttokens         2.2.1
backcall          0.2.0
colorama          0.4.6
comm              0.1.4
contourpy         1.1.1
cycler            0.11.0
debugpy           1.6.7
decorator         5.1.1
EasyProcess       1.1
entrypoint2       1.1
et-xmlfile        1.1.0
executing         1.2.0
fonttools         4.42.1
ipykernel         6.25.0
ipython           8.14.0
jedi              0.19.0
joblib            1.3.2
jupyter_client    8.3.0
jupyter_core      5.3.1
kiwisolver        1.4.5
matplotlib        3.8.0
matplotlib-inline 0.1.6
MouseInfo         0.1.3
mss               9.0.1
nest-asyncio      1.5.7
numpy             1.24.2
openpyxl          3.1.2
packaging         23.1
pandas            2.1.0
parso             0.8.3
pickleshare       0.7.5
Pillow            10.0.0
pip               22.3
platformdirs      3.10.0
prompt-toolkit    3.0.39
psutil            5.9.5
pure-eval         0.2.2
PyAutoGUI         0.9.54
PyGetWindow       0.0.9
Pygments          2.15.1
PyMsgBox          1.0.9
pyparsing         3.1.1
PyPDF2            3.0.1
pyperclip         1.8.2
PyRect            0.2.0
pyscreenshot      3.1
PyScreeze         0.1.29
python-dateutil   2.8.2
pytweening        1.0.7
pytz              2023.3.post1
pywin32           306
pyzmq             25.1.0
scikit-learn      1.3.1
scipy             1.11.3
seaborn           0.12.2
setuptools        65.5.0
six               1.16.0
stack-data        0.6.2
threadpoolctl     3.2.0
tornado           6.3.2
traitlets         5.9.0
tzdata            2023.3
wcwidth           0.2.6
XlsxWriter        3.1.2

[notice] A new release of pip available: 22.3 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\python311\lib\site-packages (2.1.0)
Requirement already satisfied: numpy>=1.23.2 in c:\python311\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\fic\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\fic\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip available: 22.3 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
import pandas as pd
#mapear o caminho
path = "C:\\Users\\FIC\\Documents\\luana-cristina-python\\imobiliaria.xlsx"
# colocar em um DataFrame
df = pd.read_excel(path)
#verificando o cabeçalho
df.head()
#verificando o final da tabela
df.tail()
#informações da coluna
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1117 entries, 0 to 1116
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Coluna 1    1117 non-null   object
 1   Coluna 2    1117 non-null   object
 2   Coluna 3    1117 non-null   datetime64[ns]
 3   Coluna 4    1117 non-null   object
 4   Coluna 5    1117 non-null   float64
 5   Coluna 6    1117 non-null   int64
 6   Coluna 7    1117 non-null   int64
 7   Coluna 8    1117 non-null   object
 8   Coluna 8.1  1117 non-null   int64
 9   Coluna 10   1117 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 87.4+ KB

In [8]:
# renomear as variáveis
df = df.rename(columns={
    'Coluna 1': 'Filial',
    'Coluna 2': 'Vendedor',
    'Coluna 3': 'Data',
    'Coluna 4':'Tipo',
    'Coluna 5':'Área(m²)',
    'Coluna 6':'Dorms',
    'Coluna 7':'Garag',
    'Coluna 8':'Piscina',
    'Coluna 9':'Preço',
    'Coluna 10':'Comissão'

})

In [9]:
#renomear as variáveis
headers =[
    'Filial','Vendedor','Data','Tipo','Área(m²)','Dorms','Garag',
    'Piscina','Preço','Comissão'
    ]
# renomeando as colunas
df.columns = (headers)
df.head(1)

,Filial,Vendedor,Data,Tipo,Área(m²),Dorms,Garag,Piscina,Preço,Comissão
0,Centro,Simone,2005-10-08,Apartamento,102.5,2,2,Sim,235500,3532.5

##### 5. Quais os tipos de dados que temos no dataFrame?

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1117 entries, 0 to 1116
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Filial    1117 non-null   object
 1   Vendedor  1117 non-null   object
 2   Data      1117 non-null   datetime64[ns]
 3   Tipo      1117 non-null   object
 4   Área(m²)  1117 non-null   float64
 5   Dorms     1117 non-null   int64
 6   Garag     1117 non-null   int64
 7   Piscina   1117 non-null   object
 8   Preço     1117 non-null   int64
 9   Comissão  1117 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 87.4+ KB

###### 7

In [11]:
#calculando a soma da coluna preço
df['Preço'].sum()

295035000

In [12]:
#Calculando a média da coluna preço
df['Preço'].mean()

264131.6025067144

In [13]:
# Encontrar o maior valor da coluna preço
df['Preço'].max()

384300

In [14]:
# encontrar o menor valor da coluna preço
df['Preço'].min()

145100

In [15]:
# Calcular a quantidade de elementos
df['Preço'].count()

1117

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1117 entries, 0 to 1116
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Filial    1117 non-null   object
 1   Vendedor  1117 non-null   object
 2   Data      1117 non-null   datetime64[ns]
 3   Tipo      1117 non-null   object
 4   Área(m²)  1117 non-null   float64
 5   Dorms     1117 non-null   int64
 6   Garag     1117 non-null   int64
 7   Piscina   1117 non-null   object
 8   Preço     1117 non-null   int64
 9   Comissão  1117 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 87.4+ KB

In [17]:
# 8. Crie um programa para criar um dataframe para mostrar as vendas por região, e salvar um arquivo em Excel para cada região.

#Gerar o relatório
#filtrar os dadps
df_final = df[df['Filial'] == 'Centro']

#Mapear o caminho final e definir um nome para o arquivo
caminho = 'C:\\Users\\FIC\\Documents\\luana-cristina-python\\relatorios-filiais\\'
arquivo = 'Centro.xlsx'

#salvar o arquivo na pasta
df_final.to_excel(caminho+arquivo)

In [18]:
# Gerando um relatório de vendas da região Noroeste
# Filtrar o DataFrame

df_final = df[df['Filial'] == 'Noroeste']

#mapear o caminho final e definir um nome para o arquivo
caminho = 'C:\\Users\\FIC\\Documents\\luana-cristina-python\\relatorios-filiais\\'
arquivo = 'Noroeste.xlsx'

#salvar um arquivo Excel
df_final.to_excel(caminho + arquivo)

In [19]:
#gerar um relatório de vendas da região Norte
# Filtrar o DataFrame
df_final = df[df['Filial'] == 'Norte']

# mapear o caminho e definir um nome para o arquivo
caminho = 'C:\\Users\\FIC\\Documents\\luana-cristina-python\\relatorios-filiais\\'
arquivo = 'Norte.xlsx'

#salvar um arquivo Excel
df_final.to_excel(caminho + arquivo)

In [20]:
#Gerar um relatório de vendas da região Sudeste
#filtrar o DataFrame
df_final = df[df['Filial'] == 'Sudeste']

#mapear o caminho e definir um nome para o arquivo
caminho ='C:\\Users\\FIC\\Documents\\luana-cristina-python\\relatorios-filiais\\'
arquivo = 'Sudeste.xlsx'

#Salvar um arquivo Excel
df_final.to_excel(caminho + arquivo)

In [21]:
#Gerar um relatório de vendas da região Sudeste
#filtrar o DataFrame
df_final = df[df['Filial'] == 'Oeste']

#mapear o caminho e definir um nome para o arquivo
caminho ='C:\\Users\\FIC\\Documents\\luana-cristina-python\\relatorios-filiais\\'
arquivo = 'Oeste.xlsx'

#Salvar um arquivo Excel
df_final.to_excel(caminho + arquivo)

In [22]:
#Gerar um relatório de vendas da região Sudeste
#filtrar o DataFrame
df_final = df[df['Filial'] == 'Leste']

#mapear o caminho e definir um nome para o arquivo
caminho ='C:\\Users\\FIC\\Documents\\luana-cristina-python\\relatorios-filiais\\'
arquivo = 'Leste.xlsx'

#Salvar um arquivo Excel
df_final.to_excel(caminho + arquivo)

In [23]:
#Gerar um relatório de vendas da região Sudeste
#filtrar o DataFrame
df_final = df[df['Filial'] == 'Sudoeste']

#mapear o caminho e definir um nome para o arquivo
caminho ='C:\\Users\\FIC\\Documents\\luana-cristina-python\\relatorios-filiais\\'
arquivo = 'Sudeoste.xlsx'

#Salvar um arquivo Excel
df_final.to_excel(caminho + arquivo)

In [24]:
#Gerar um relatório de vendas da região Sudeste
#filtrar o DataFrame
df_final = df[df['Filial'] == 'Sul']

#mapear o caminho e definir um nome para o arquivo
caminho ='C:\\Users\\FIC\\Documents\\luana-cristina-python\\relatorios-filiais\\'
arquivo = 'Sul.xlsx'

#Salvar um arquivo Excel
df_final.to_excel(caminho + arquivo)

In [25]:
#Gerar um relatório de vendas da região Sudeste
#filtrar o DataFrame
df_final = df[df['Filial'] == 'Nordeste']

#mapear o caminho e definir um nome para o arquivo
caminho ='C:\\Users\\FIC\\Documents\\luana-cristina-python\\relatorios-filiais\\'
arquivo = 'Nordeste.xlsx'

#Salvar um arquivo Excel
df_final.to_excel(caminho + arquivo)

#### Gere um arquivo em Excel para representar as vendas efetuadas pela filial norte em 2010

In [26]:
#filtrar período do ano
df_final = df[(df['Filial'] == 'Norte')&
(df['Data']>='2010-01-01')&
(df['Data']>='2010-12-31')]
#mapear o caminho e definir um nome para o arquivo
caminho ='C:\\Users\\FIC\\Documents\\luana-cristina-python\\relatorios-filiais\\'
arquivo = 'Norte.xlsx'

#Salvar um arquivo Excel
df_final.to_excel(caminho + arquivo,index =False)

#### Gere um arquivo em Excel para representar as vendas efetuadas pela filial Sudeste em 2010. Sendo que no relatório deve conter apenas vendas de casas sem garagem.

In [27]:
#filtrando o dataFrame
df[(df['Filial'] == 'Sudeste')&
(df['Data']>='2010-01-01')&
(df['Data']<='2010-12-31')&
(df['Tipo']== 'Casa')&
(df['Garag']== 0)
]
#mapear o caminho e definir um nome para o arquivo
caminho ='C:\\Users\\FIC\\Documents\\luana-cristina-python\\relatorios-filiais\\'
arquivo = 'Sudeste-2010-casa-sem-garag.xlsx'

#Salvar um arquivo Excel
df_final.to_excel(caminho + arquivo,index =False)

##### Qual o valor máximo de comissão que a imobiliária numa venda?

In [28]:
# Este código vai filtrar a tabela considerando o maior valor de comissão pago pela função imobiliaria, por meio da função max()
df [df['Comissão'] == df['Comissão'].max()]

,Filial,Vendedor,Data,Tipo,Área(m²),Dorms,Garag,Piscina,Preço,Comissão
848,Sul,Adriana,2009-12-27,Apartamento,188.5,4,4,Sim,384300,5764.5

##### Quantas casas de 2 ou 3 dormitórios foram vendidas pelo Ricardo antes de 2011.

In [29]:
#filtrando o dataFrame
df[(df['Vendedor'] == 'Ricardo')&
(df['Data']<'2011-01-01')&
(df['Tipo']== 'Casa')&
((df['Dorms'] == 2)|(df['Dorms']== 3))]

,Filial,Vendedor,Data,Tipo,Área(m²),Dorms,Garag,Piscina,Preço,Comissão
82,Norte,Ricardo,2006-02-28,Casa,153.0,3,3,Sim,298700,4480.5
100,Oeste,Ricardo,2006-04-08,Casa,146.5,3,3,Sim,298300,4474.5
156,Centro,Ricardo,2006-07-12,Casa,105.5,2,1,Não,229800,3447.0
171,Norte,Ricardo,2006-07-27,Casa,104.0,2,1,Não,221500,3322.5
184,Leste,Ricardo,2006-08-30,Casa,144.5,3,3,Não,307800,4617.0
200,Noroeste,Ricardo,2006-09-25,Casa,148.5,3,3,Não,297000,4455.0
206,Sul,Ricardo,2006-10-02,Casa,185.0,3,2,Não,287900,4318.5
214,Leste,Ricardo,2006-10-16,Casa,149.5,3,3,Não,299600,4494.0
251,Noroeste,Ricardo,2006-12-13,Casa,109.5,2,2,Sim,243600,3654.0
263,Noroeste,Ricardo,2006-12-29,Casa,101.5,2,0,Não,215000,3225.0
278,Nordeste,Ricardo,2007-01-28,Casa,124.5,2,0,Não,225400,3381.0
291,Norte,Ricardo,2007-02-27,Casa,137.0,2,2,Não,236500,3547.5
292,Sudoeste,Ricardo,2007-03-01,Casa,160.0,3,1,Sim,286600,4299.0
300,Sudeste,Ricardo,2007-03-25,Casa,149.0,3,1,Sim,287000,4305.0
327,Nordeste,Ricardo,2007-04-26,Casa,129.5,2,0,Sim,228200,3423.0
330,Sul,Ricardo,2007-04-28,Casa,152.5,3,1,Não,293000,4395.0
335,Sudeste,Ricardo,2007-05-15,Casa,120.0,2,1,Sim,227300,3409.5
397,Oeste,Ricardo,2007-08-29,Casa,100.5,2,1,Não,223500,3352.5
443,Noroeste,Ricardo,2007-10-28,Casa,162.5,3,3,Sim,300600,4509.0
449,Centro,Ricardo,2007-11-10,Casa,159.5,3,1,Não,281200,4218.0
518,Sudeste,Ricardo,2008-03-07,Casa,172.5,3,2,Não,304400,4566.0
543,Noroeste,Ricardo,2008-05-15,Casa,136.5,3,1,Não,299500,4492.5
569,Sudeste,Ricardo,2008-06-25,Casa,156.5,3,2,Não,299000,4485.0
573,Sudoeste,Ricardo,2008-06-27,Casa,103.0,2,0,Não,216300,3244.5
583,Sudeste,Ricardo,2008-07-16,Casa,121.0,3,2,Sim,306100,4591.5
605,Centro,Ricardo,2008-08-24,Casa,133.5,2,0,Não,224900,3373.5
659,Oeste,Ricardo,2008-11-27,Casa,185.5,3,2,Não,291100,4366.5
662,Noroeste,Ricardo,2008-12-01,Casa,189.5,3,3,Sim,301700,4525.5
678,Noroeste,Ricardo,2009-01-03,Casa,77.0,2,1,Não,226700,3400.5
692,Oeste,Ricardo,2009-02-13,Casa,135.0,3,3,Sim,296400,4446.0
707,Norte,Ricardo,2009-03-27,Casa,170.0,3,1,Não,296100,4441.5
710,Sudeste,Ricardo,2009-04-01,Casa,178.0,3,3,Não,295900,4438.5
715,Norte,Ricardo,2009-04-14,Casa,154.5,3,1,Não,283500,4252.5
751,Sudoeste,Ricardo,2009-07-03,Casa,89.5,2,0,Não,216700,3250.5
754,Nordeste,Ricardo,2009-07-06,Casa,84.5,2,0,Sim,218900,3283.5
833,Norte,Ricardo,2009-11-25,Casa,160.5,3,2,Sim,292300,4384.5
857,Sudoeste,Ricardo,2010-01-14,Casa,97.5,2,1,Não,219200,3288.0
892,Oeste,Ricardo,2010-03-03,Casa,162.5,3,3,Sim,297200,4458.0
913,Centro,Ricardo,2010-03-30,Casa,111.0,2,1,Não,233700,3505.5
968,Noroeste,Ricardo,2010-07-07,Casa,196.5,3,3,Não,300700,4510.5
974,Oeste,Ricardo,2010-07-23,Casa,112.0,2,0,Sim,223200,3348.0
1007,Leste,Ricardo,2010-09-15,Casa,167.5,3,2,Não,301700,4525.5
1023,Norte,Ricardo,2010-10-07,Casa,138.5,3,1,Sim,300800,4512.0