## Listas - array

In [20]:
alunos = ['Ana','Amanda','Bruno','João']
notas = [10,9,8,7]

# Exibir o primeiro nome da lista alunos
print(alunos[0])

# Exibir a terceira a nota da lista notas
print(notas[2])

Ana
8

## Listas(list) - Acessando itens

In [17]:
# Selecionar uma fatia dos dados (Amanda e Bruno)
# Lista [posição_inicial : posição_final +1]

alunos[1:3]

# Selecionar apenas os nomes Bruno e João
alunos[2:]

['Bruno', 'João']

# identificando o tipo de informação

In [22]:
type(notas)

list

In [21]:
type(notas[0])

int

## Lista(list) - Conversão para String

#### para converter uma lista em STRING, nós utilizamos o comando JOIN

In [24]:
supermercado = ['Batata','Óleo','Margarina','Café']

listaConvertida = ';'.join(supermercado)
print(listaConvertida)
print(type(listaConvertida))

Batata;Óleo;Margarina;Café
<class 'str'>

#### Convertendo String para lista

In [25]:
lista = listaConvertida.split(';')
print(lista)
print(type(lista))

['Batata', 'Óleo', 'Margarina', 'Café']
<class 'list'>

## TUPLAS(Tuple)
- criamos utilizando parênteses
- Separamos os elementos por vírgula
- Após sua definição, não podemos alterar sua estrutura

In [31]:
valores = (90, 79, 54, 32, 21)
pontos = (100, 94.05, 86.08, 62)

print(type(valores))
print(type(pontos))

<class 'tuple'>
<class 'tuple'>

In [33]:
valores[0] = 30

TypeError: 'tuple' object does not support item assignment

## Tuplas(tuple) - Outros exemplos

In [39]:
my_list = [1,2] #criando uma lista []

my_tuple = (1,2) #criando uma tupla()

#Alterando o elemento de posição 1 da lista
#Listas permitem alteração
my_list[0]=10
print(my_list) 

#Alterar um elemento de uma tupla
try:
    my_tuple[1] = 3
except TypeError:
    print('não é possível modificar uma tupla')

[10, 2]
não é possível modificar uma tupla

## Criando uma função com tuplas

In [40]:
def sum_and_product (x, y):
    
    return (x + y), (x * y)

In [44]:
sum_and_product(10,5)

(15, 50)

## Dicionários(dict)
Dict é um tipo de dado muito flexível do Python. Eles são utilizados para agrupar elementos através da estrutura de chave e valor, onde a chave é o primeiro elemento seguido por dois pontos e pelo valor. Vamos ver o exemplo:

In [45]:
altura ={
    'Amanda': 1.65,
    'Ana':1.60,
    'João':1.50,
}

peso = {
    'Amanda':60,
    'Ana':58,
    'João':100
}

print(type(altura))
print(type(peso))

<class 'dict'>
<class 'dict'>

In [46]:
#acessar informações do dicionário
print(altura['Ana'])
print(peso['Ana'])

1.6
58