#### Exercício 02

In [2]:
# Importando a biblioteca
import pandas as pd

# Mapeando o documento
path = "C:\\Users\\Aluno\\Documents\\eduardo-inocencio-python\\arquivos\\Imobiliária.xlsx"

# Alocando os dados em um dataframe
df = pd.read_excel(path)

Visualize o cabeçalho dos dados;

In [5]:
# Lista com novos nomes
headers = [
    'filial','vendedor','data','tipo','area',
    'dorms','garag','piscina','preco','comissao'
]

# Renomeando as colunas
df.columns = (headers)
df.head(1)

,filial,vendedor,data,tipo,area,dorms,garag,piscina,preco,comissao
0,Centro,Simone,2005-10-08,Apartamento,102.5,2,2,Sim,235500,3532.5

5. Quais são os tipos de dados que temos no dataframe?

6. Há valores faltantes ou nulos?

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1117 entries, 0 to 1116
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filial    1117 non-null   object
 1   vendedor  1117 non-null   object
 2   data      1117 non-null   datetime64[ns]
 3   tipo      1117 non-null   object
 4   area      1117 non-null   float64
 5   dorms     1117 non-null   int64
 6   garag     1117 non-null   int64
 7   piscina   1117 non-null   object
 8   preco     1117 non-null   int64
 9   comissao  1117 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 87.4+ KB

7. Calcule a soma, média, máximo, mínimo e contagem da coluna Preço.

In [7]:
# Calculando a soma da coluna Preço
df['preco'].sum()

295035000

In [8]:
# Calculando a média da coluna Preço
df['preco'].mean()

264131.6025067144

In [9]:
# Encontrar o maior valor da coluna Preço
df['preco'].max()

384300

In [11]:
# Encontrar o menor valor da coluna Preço
df['preco'].min()

145100

In [10]:
# Calcular a quantidade de elementos
df['preco'].count()

1117

8. Crie um programa para criar um dataframe para mostrar as vendas por
região, e salvar um arquivo em Excel para cada região.

In [15]:
# Gerar um relatório de vendas da região CENTRO

# Filtrar os dados
df_final = df[df['filial'] == 'Centro']

# Mapear o caminho final e definir um nome para o arquivo
caminho = 'C:\\Users\\Aluno\\Documents\\eduardo-inocencio-python\\relatorios-filiais\\'
arquivo = 'centro.xlsx'

# Salvar o arquivo na pasta

df_final.to_excel(caminho + arquivo)